<?xml version="1.0" encoding="UTF-8"?>
<!--
~ nemesis Platform - NExt-generation Multichannel E-commerce SYStem
~
~ Copyright (c) 2010 - 2013 nemesis
~ All rights reserved.
~
~ This software is the confidential and proprietary information of nemesis
~ ("Confidential Information"). You shall not disclose such Confidential
~ Information and shall use it only in accordance with the terms of the
~ license agreement you entered into with nemesis.
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>nemesis-docs</id>
			<username>nemesis</username>
			<password>${env.NEMESIS_DOCS_SSH_NEMESIS_PASSWORD}</password>
		</server>
		<server>
			<id>nemesis-repository</id>
			<username>admin</username>
			<password>${env.NEMESIS_REPOSITORY_HTTP_PASSWORD}</password>
		</server>
		<server>
			<id>nemesis-repository-releases</id>
			<username>admin</username>
			<password>${env.NEMESIS_REPOSITORY_HTTP_PASSWORD}</password>
		</server>
		<server>
			<id>nemesis-repository-snapshots</id>
			<username>admin</username>
			<password>${env.NEMESIS_REPOSITORY_HTTP_PASSWORD}</password>
		</server>
		<server>
			<id>nemesis-repository-plugins</id>
			<username>admin</username>
			<password>${env.NEMESIS_REPOSITORY_HTTP_PASSWORD}</password>
		</server>
	</servers>
</settings>
